---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
        transition: all 0.5s ease;
        display: grid;
        place-items: center;
        border-radius: 2rem;
        width: 100px;

        &:hover {
            background-color: red;
        }
    }
</style>
